<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Обновить user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit/}" th:object="${user}">
  <label for="id">id</label>
  <input readonly type="number" th:field="*{id}" id="id">
  <br/>
  <label for="name">name</label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="email">email</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <label for="username">username:</label>
  <input type="text" th:field="*{username}" id="username">
  <br/>
  <label for="password">password:</label>
  <input type="text" th:field="*{password}" id="password">
  <br/>

  <th:block th:each="msg : ${user.getRoles()}">
    <li th:text="${msg.getNoPrefix()}"></li>
  </th:block>
  <p>
    <label>Roles
      <input type="checkbox" name="listRoles"
             th:each="rol : ${listRoles}"
             th:text="${rol.getNoPrefix()}"
             th:value="${rol.role}"
             th:field="*{roles}"
      />
    </label>
  </p>

  <input type="submit" value="Обновить">
</form>
<form th:action="@{/admin/users}" th:method="GET">
  <input type="submit" value="Список пользователей"/>
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>